* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-transform: capitalize;
}

:root {
  --softorange: #f4a259;
  --tomatored: #f25c66;
}

body {
  background-color: #f6f8fc;
}

input[type="radio"] {
  display: none;
}

ul {
  list-style: none;
}

.details {
  display: flex;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.473);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.content,
.window_detail {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #fff;
}
.window_detail {
  padding: 0;
  background-color: #fdd190;
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.window_detail .detail {
  color: aliceblue;
  margin-left: 15px;
}

.pokemon_details {
  position: absolute;
  background-color: aliceblue;
  width: 100%;
  height: 50%;
  bottom: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.top_container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.ul_details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 3vw;
}

.pokeStats {
  padding-left: 3vw;
}

.ul_details li {
  display: contents;
}

.ul_details label {
  padding: 20px 2px;
  opacity: 0.3;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.ul_details label:hover {
  opacity: 1;
}

.ul_details label:after {
  display: block;
  padding-top: 20px;
  content: "";
  border-bottom: 2px solid darkslateblue;
  transform: scaleX(0);
  transition: transform 100ms ease-in-out;
}

.ul_details label:not([disabled]):hover::after {
  transform: scaleX(1);
}

input[type="radio"]:checked + label {
  opacity: 1;
}

input[type="radio"]:checked + label:after {
  transform: scaleX(1);
}

.ul_details input[disabled] + label:hover {
  opacity: 0.3;
  cursor: not-allowed;
  color: rgb(255, 0, 0);
}

.ul_details input[disabled] + label:hover::after {
  transform: scaleX(0);
}

@media screen and (min-width: 992px) {
  .content,
  .window_detail {
    max-width: 992px;
    height: auto;
    margin: auto;
    border-radius: 1rem;
  }
  .pokemon_details {
    max-width: 992px;
  }
}

.window_detail {
  border-radius: 5px;
  height: 100vh;
}
