* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-transform: capitalize;
}

:root {
  --softorange: #f4a259;
  --tomatored: #f25c66;
}

body {
  background-color: #f6f8fc;
}

.details {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.473);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.content,
.window_detail {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #fff;
}
.window_detail {
  padding: 0;
  background-color: #fdd190;
}

@media screen and (min-width: 992px) {
  .content,
  .window_detail {
    max-width: 992px;
    height: auto;
    margin: auto;
    border-radius: 1rem;
  }
}
.window_detail {
  border-radius: 5px;
  height: 100vh;
}

#loadMoreButton.loading {
  content: "";
  pointer-events: none;
  font-size: 0;
  content: "";
  display: block;
  margin: 10px auto;
  border: 5px solid #f3f3f300;
  border-top: 5px solid #555;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  background-color: transparent;
}

/* loading circle */

.loader {
  border: 5px solid #f3f3f300;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Close button */

.close_container {
  text-align: right;
  text-align: -webkit-right;
}

.close_button {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 15px;
}

.leftright {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: var(--softorange);
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: var(--softorange);
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

label {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
  opacity: 0;
}
.close {
  margin: 60px 0 0 5px;
  position: absolute;
}

.close_button:hover .leftright {
  transform: rotate(-45deg);
  background-color: var(--tomatored);
}
.close_button:hover .rightleft {
  transform: rotate(45deg);
  background-color: var(--tomatored);
}
