.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #8acf69;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

.pokemon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon .name {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 0.25rem;
}

.name_and_types {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  align-content: center;
}

.types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.name_and_types .types {
  display: flex;
}

.types .type {
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
  filter: brightness(1.08);
  text-align: center;
  opacity: 0.8;
  text-transform: capitalize;
}

.types > .type {
  margin-right: 12px;
}

.window_detail .types .type {
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
  text-align: center;
}

.img {
  text-align: center;
}
.img img {
  height: 100%;
}

.pokemon .detail img {
  max-width: 100%;
  height: 100%;
  min-height: 115px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  color: #fff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
}

@media screen and (min-width: 450px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 700px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  .normal {
    background-color: #a6a877ce;
  }

  .grass {
    background-color: #89cf69ce;
  }

  .fire {
    background-color: #ee7f30ce;
  }

  .water {
    background-color: #678feece;
  }

  .electric {
    background-color: #f7cf2ece;
  }

  .ice {
    background-color: #98d5d7ce;
  }

  .ground {
    background-color: #dfbf69ce;
  }

  .flying {
    background-color: #a98ff0ce;
  }

  .poison {
    background-color: #a040a0ce;
  }

  .fighting {
    background-color: #bf3029ce;
  }

  .psychic {
    background-color: #f65687ce;
  }

  .dark {
    background-color: #725847ce;
  }

  .rock {
    background-color: #b8a137ce;
  }

  .bug {
    background-color: #a8b720ce;
  }

  .ghost {
    background-color: #6e5896ce;
  }

  .steel {
    background-color: #b9b7cfce;
  }

  .dragon {
    background-color: #6f38f6ce;
  }

  .fairy {
    background-color: #f9aec7ce;
  }
}
